@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;400;700&display=swap");
body {
  background-color: #f2f2f2 !important;
  font-family: "Montserrat";
}

.nav-item {
  font-weight: 400;
  font-size: 1.15em;
  padding-left: 108px;
}

.panel {
  border-radius: 50px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel img {
  margin: auto;
}

.header-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.85em;
  margin-top: 25%;
  color: #4d0000;
}

.slide-up {
  font-family: "Montserrat";
  font-size: 1.15em;
  font-weight: 300;
}

.my-work {
  border-radius: 15px !important;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat";
  background-color: #4d0000;
  font-size: 1.25em;
}

.works-text {
  text-align: center;
  color: #4d0000;
  font-family: "Montserrat";
  font-weight: 400 !important;
  font-size: 1.15em;
}

.card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 50px !important;
}

.review-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.3em;
  color: #4d0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.neumorphinner {
  border-radius: 15px;
  padding: 10px 20px;
  padding-top: 10px;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
}

.neumorphinner input, .neumorphinner textarea {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #4d0000;
}

.contact-header {
  font-family: "Montserrat";
  font-size: 1.2em;
  color: #4d0000;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
}

label {
  font-weight: 400;
  font-size: 1.05em;
  color: #4d0000;
  font-family: "Montserrat";
}

.reviews {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2em;
}

.review-author {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1em;
}

.container-fluid {
  background-color: #4d0000;
}

.link {
  margin-left: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  font-weight: 400;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.circle {
  border-radius: 50%;
  padding: 2em 1.5em;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
  font-size: 1.5em;
  font-family: "Montserrat";
  font-weight: 700;
  width: 200px;
  height: 200px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.circle .text {
  margin-top: auto;
  margin-bottom: auto;
  color: #4d0000;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.skills tr {
  padding-top: 2em 0;
  text-align: center;
}

.skills td {
  text-align: center;
  padding: 0% 4em;
  color: #4d0000;
  font-size: 1.2em;
}

.internHeader {
  font-size: 1.5em;
  font-weight: 700;
  color: #4d0000;
  text-align: left;
  margin-left: 2%;
  font-family: "Montserrat";
}

.internDetails {
  margin-top: 2%;
  font-size: 1.05em;
  font-weight: 300;
  color: #000;
  margin-left: 2%;
  text-align: left;
  font-family: "Montserrat";
}

.skills-img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skills-text {
  font-family: "Montserrat";
  font-weight: 400;
  color: #4d0000;
  font-size: 1.2em;
}

.neumorphism-o {
  -webkit-box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 white;
          box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 white;
  margin: auto;
  padding: 15%;
  border-radius: 50px;
}

.works {
  cursor: pointer;
  position: relative;
}

.works .desc {
  font-weight: 300;
  font-size: 0.85em;
  font-family: "Montserrat";
  margin-top: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.works .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  color: #4d0000;
  font-family: "Montserrat";
  margin-top: 10%;
}

.works .details {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.works:hover .details {
  opacity: 1;
}

.works:hover .work-image {
  opacity: 0.02;
}
/*# sourceMappingURL=styles.css.map */