body {
  background-color: #f2f2f2 !important;
  font-family: "Montserrat";
}

.nav-item {
  font-weight: 400;
  font-size: 1.15em;
  padding-left: 108px;
}

.panel {
  border-radius: 50px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel img {
  margin: auto;
}

.header-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.85em;
  margin-top: 25%;
  color: #4d0000;
}

.slide-up {
  font-family: "Montserrat";
  font-size: 1.1em;
  font-weight: 300;
}

.my-work {
  border-radius: 15px !important;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat";
  background-color: #4d0000;
  font-size: 1.15em;
}

.works-text {
  text-align: center;
  color: #4d0000;
  font-family: "Montserrat";
  font-weight: 800 !important;
  font-size: 1.05em;
  margin-top: 20%;
  text-decoration: none !important;
}

.works-text:hover {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

.card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 50px !important;
}

.review-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.3em;
  color: #4d0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.neumorphinner {
  border-radius: 15px;
  padding: 10px 20px;
  padding-top: 10px;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 white;
}

.neumorphinner input, .neumorphinner textarea {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #4d0000;
}

.contact-header {
  font-family: "Montserrat";
  font-size: 1.2em;
  color: #4d0000;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
}

label {
  font-weight: 400;
  font-size: 1.05em;
  color: #4d0000;
  font-family: "Montserrat";
}

.reviews {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1em;
}

.review-author {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 0.9em;
}

.container-fluid {
  background-color: #4d0000;
}

.link {
  margin-left: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  font-weight: 400;
  padding-bottom: 5px;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.internHeader, .projectHeader {
  font-size: 1.5em;
  font-weight: 700;
  color: #4d0000;
  text-align: left;
  margin-left: 2%;
  font-family: "Montserrat";
}

.internDetails, .projectDetails {
  margin-top: 2%;
  font-size: 1.05em;
  font-weight: 300;
  color: #000;
  margin-left: 2%;
  text-align: left;
  font-family: "Montserrat";
}

.skills-img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skills-text {
  font-family: "Montserrat";
  font-weight: 400;
  color: #4d0000;
  font-size: 1.2em;
}

.neumorphism-o {
  -webkit-box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 white;
          box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 white;
  margin: auto;
  padding: 15%;
  border-radius: 50px;
}

.works .desc {
  font-weight: 300;
  font-size: 0.85em;
  font-family: "Montserrat";
  margin-top: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.works .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  color: #4d0000;
  font-family: "Montserrat";
  margin-top: 10%;
}

#works-accordion {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#works-accordion h2 {
  font-size: 12pt;
  margin: 0px;
  padding: 10px;
}

#works-accordion li div.details {
  opacity: 0;
  height: 0;
  padding: 10px;
}

#works-accordion li:hover div.details {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.review-btn {
  border-radius: 50% !important;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2), -3px -3px 4px 0 white;
          box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2), -3px -3px 4px 0 white;
  padding: 20% !important;
}
/*# sourceMappingURL=styles.css.map */