$background: #383838;
$black: #000;
$white: #fff;
$dark-grey: #38383B;
$very-dark-grey: #2a2a2a;
$text-grey: #9e9e9e;
$font: 'Montserrat';
$yellow: #FEC86E;
$green: #9CFF88;
$red: #FF7A7A;

body{
    background-color: $background !important;
    font-family: $font !important;
}

.nav-item{
    font-weight: 500;
    font-size: 1.15em;
    padding-left: 108px;
    .nav-link{
        color: $text-grey !important;
    }
}

.panel{
    border-radius: 50px;
    background-color: $background;
    box-shadow: 5px 5px 10px rgba($color: $black, $alpha: 0.2),
                -5px -5px 10px rgba($color: $white, $alpha: 0.1);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    img{
        margin: auto;
    }
}

.header-text{
    font-weight: 700;
    font-size: 1.85em;
    // margin-top: 25%;
    color: $white;
}

.slide-up{
    font-size: 1.1em;
    font-weight: 500;
    color: $text-grey !important;
}

.small-underline{
    height: 10px;
    width: 15%;
}

.yellow{
    box-shadow: 0 9px 0 $yellow;
}

.red{
    box-shadow: 0 9px 0 $red;
}

.green{
    box-shadow: 0 9px 0 $green;
}

.my-work{
    border-radius: 15px !important;
    font-weight: 500;
    color: $white;
    padding-left: 1.2em !important;
    padding-right: 1.2em !important;
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
    background-color: $very-dark-grey;
    box-shadow: 5px 5px 7px 0 #232323;
    font-size: 1.15em;
}

.works-text{
    text-align: center;
    color: $white;
    font-weight: 800 !important;
    font-size: 1.05em;
    margin-top: 20%;
    text-decoration: none !important;
}

.works-text:hover{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
}

.card{
    background-color: transparent !important;
    border: none !important;
    border-radius: 50px !important;
}

.review-text{
    font-weight: 400;
    font-size: 1.3em;
    color: $white;
    justify-content: center;
}

.neumorphinner{
    input,textarea{
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: $white;
    }
    border-radius: 15px;
    padding: 10px 20px;
    padding-top: 10px;
    background-color: $background;
    box-shadow: inset 5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
                inset -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);
}

.contact-header{
    font-size: 1.2em;
    color: $white;
    font-weight: 700;
    justify-self: center;
}

label{
    font-weight: 400;
    font-size: 1.05em;
    color: $white;
}

.reviews{
    font-weight: 400;
    font-size: 1em;
    color: $text-grey;
}

.review-author{
    font-weight: 300;
    font-size: 0.9em;
    color: $text-grey
}

.container-fluid{
    font-weight: 500 !important;
}

.link{
    margin-left: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    text-decoration: none;
    color: $text-grey;
    font-weight: 400;
    padding-bottom: 5px;
}

.link:hover{
    text-decoration: none;
    color: $white;
}

.internHeader, .projectHeader{
    font-size: 1.5em;
    font-weight: 700;
    color: $white;
    text-align: left;
    margin-left: 2%;
}

.internDetails, .projectDetails{
    margin-top: 2%;
    font-size: 1.05em;
    font-weight: 300;
    color: $text-grey;
    margin-left: 2%;
    text-align: left;
}

.skills-img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.skills-text{
    font-weight: 400;
    color: $white;
    font-size: 1.2em;
}

.neumorphism-o{
    box-shadow:  5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
     -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);
    margin: auto;
    padding: 15%;
    z-index: 100;
    border-radius: 50px;
    background-color: $background;
}

.works{
    .desc{
        font-weight: 300;
        font-size: 0.85em;
        color: $text-grey;
        margin-top: 10%;
        justify-self: center;
        align-content: center;
    }

    .title{
        text-align: center;
        font-weight: 700;
        font-size: 1.2em;
        color: $white;

        margin-top: 10%;
    }
}

#works-accordion{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#works-accordion h2{
    font-size: 12pt;
    margin: 0px;
    padding: 10px;
}
#works-accordion li div.details{
    opacity: 0;
    height: 0;
    padding: 10px;
}
#works-accordion li:hover div.details{
    transition: opacity 0.2s ease-in;
    opacity: 1;
    height: fit-content;
}

.review-btn{
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    box-shadow:  3px 3px 4px 0 rgba($color: $black, $alpha: 0.2),
     -3px -3px 4px 0 rgba($color: $white, $alpha: 0.1);
    text-align: center;
    padding-top: 10% !important;
}

.circle-container{
    text-align: center;
    margin-top: 7vh;

    .circle{
        width: 15vw;
        height: 15vw;
        margin: auto;
        background: $background;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        box-shadow:  5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
        -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);

        .inner-circle{
            width: 14vw;
            height: 14vw;
            margin: auto;
            background-color: $background;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            box-shadow: inset 5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
            inset -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);
        }
    }
}

.header-img{
    width: 99vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    z-index: -3;
    align-items: 'center';
    justify-content: 'center';
}

.footer{
    background-color: $very-dark-grey;
    // margin-top: 350vh;
}

@media (max-width: 768px) {
    .circle-container{
        .circle{
            width: 40vw;
            height: 40vw;

            .inner-circle{
                width: 37vw;
                height: 37vw;
            }
        }
    }
}

.neumorphism-image-container{
    box-shadow:  5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
     -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);
    margin: auto;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat;
}

.header-project{
    color: $white;
    text-align: center;
    font-size: 1.15em;
    font-family: $font;
    font-weight: 700;
}

.text-project{
    color: $text-grey;
    font-size: 0.8em;
    font-family: $font;
    font-weight: 500;
}

.text-subheading{
    color: $white;
    text-align: center;
    font-size: 1em;
    font-family: $font;
    font-weight: 500;
}

.project-image{
    object-fit: contain;
    width: 85%;
    height: 85%;
}

.neumorphism-ou{
   border: none !important;
   box-shadow:  5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
   -5px -5px 4px 0 rgba($color: $white, $alpha: 0.1);
  border-radius: 30px !important;
  background-color: $background;
  text-align: center;
  padding: 2em;
}

.rounded-rect{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 50px;
    background-color: $white;
    .col{
        position: relative;
        top: 50%;
        transform: translateY(25%);
    }
}