$background: #f2f2f2;
$black: #000;
$white: #fff;
$maroon: #4d0000;
$golden: #ffc012;
$font: 'Montserrat';

body{
    background-color: $background !important;
    font-family: $font;
}

.nav-item{
    font-weight: 400;
    font-size: 1.15em;
    padding-left: 108px;
}

.panel{
    border-radius: 50px;
    background-color: $background;
    box-shadow: 5px 5px 10px rgba($color: $black, $alpha: 0.10),
                -5px -5px 10px rgba($color: $white, $alpha: 1.0);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    img{
        margin: auto;
    }
}

.header-text{
    font-family: $font;
    font-weight: 700;
    font-size: 1.85em;
    margin-top: 25%;
    color: $maroon;
}

.slide-up{
    font-family: $font;
    font-size: 1.1em;
    font-weight: 300;
}

.my-work{
    border-radius: 15px !important;
    font-weight: 500;
    color: $white;
    font-family: $font;
    background-color: $maroon;
    font-size: 1.15em;
}

.works-text{
    text-align: center;
    color: $maroon;
    font-family: $font;
    font-weight: 800 !important;
    font-size: 1.05em;
    margin-top: 20%;
    text-decoration: none !important;
}

.works-text:hover{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
}

.card{
    background-color: transparent !important;
    border: none !important;
    border-radius: 50px !important;
}

.review-text{
    font-family: $font;
    font-weight: 400;
    font-size: 1.3em;
    color: $maroon;
    justify-content: center;
}

.neumorphinner{
    input,textarea{
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: $maroon;
    }
    border-radius: 15px;
    padding: 10px 20px;
    padding-top: 10px;
    box-shadow: inset 5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
                inset -5px -5px 4px 0 rgba($color: $white, $alpha: 1.0);
}

.contact-header{
    font-family: $font;
    font-size: 1.2em;
    color: $maroon;
    font-weight: 700;
    justify-self: center;
}

label{
    font-weight: 400;
    font-size: 1.05em;
    color: $maroon;
    font-family: $font;
}

.reviews{
    font-family: $font;
    font-weight: 400;
    font-size: 1em;
}

.review-author{
    font-family: $font;
    font-weight: 300;
    font-size: 0.9em;
}

.container-fluid{
    background-color: $maroon;
}

.link{
    margin-left: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    text-decoration: none;
    color: $black;
    font-family: $font;
    font-weight: 400;
    padding-bottom: 5px;
}

.link:hover{
    text-decoration: none;
    color: $black;
}

.internHeader, .projectHeader{
    font-size: 1.5em;
    font-weight: 700;
    color: $maroon;
    text-align: left;
    margin-left: 2%;
    font-family: $font;
}

.internDetails, .projectDetails{
    margin-top: 2%;
    font-size: 1.05em;
    font-weight: 300;
    color: $black;
    margin-left: 2%;
    text-align: left;
    font-family: $font;
}

.skills-img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.skills-text{
    font-family: $font;
    font-weight: 400;
    color: $maroon;
    font-size: 1.2em;
}

.neumorphism-o{
    box-shadow:  5px 5px 4px 0 rgba($color: $black, $alpha: 0.2),
     -5px -5px 4px 0 rgba($color: $white, $alpha: 1.0);
    margin: auto;
    padding: 15%;
    border-radius: 50px;
}

.works{
    .desc{
        font-weight: 300;
        font-size: 0.85em;
        font-family: $font;
        margin-top: 10%;
        align-content: center;
    }

    .title{
        text-align: center;
        font-weight: 700;
        font-size: 1.2em;
        color: $maroon;
        font-family: $font;
        margin-top: 10%;
    }
}

#works-accordion{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#works-accordion h2{
    font-size: 12pt;
    margin: 0px;
    padding: 10px;
}
#works-accordion li div.details{
    opacity: 0;
    height: 0;
    padding: 10px;
}
#works-accordion li:hover div.details{
    transition: opacity 0.2s ease-in;
    opacity: 1;
    height: fit-content;
}

.review-btn{
    border-radius: 50% !important;
    box-shadow:  3px 3px 4px 0 rgba($color: $black, $alpha: 0.2),
     -3px -3px 4px 0 rgba($color: $white, $alpha: 1.0);
    padding: 20% !important;
}