body {
  background-color: #383838 !important;
  font-family: "Montserrat" !important;
}

.nav-item {
  font-weight: 500;
  font-size: 1.15em;
  padding-left: 108px;
}

.nav-item .nav-link {
  color: #9e9e9e !important;
}

.panel {
  border-radius: 50px;
  background-color: #383838;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel img {
  margin: auto;
}

.header-text {
  font-weight: 700;
  font-size: 1.85em;
  color: #fff;
}

.slide-up {
  font-size: 1.1em;
  font-weight: 500;
  color: #9e9e9e !important;
}

.small-underline {
  height: 10px;
  width: 15%;
}

.yellow {
  -webkit-box-shadow: 0 9px 0 #FEC86E;
          box-shadow: 0 9px 0 #FEC86E;
}

.red {
  -webkit-box-shadow: 0 9px 0 #FF7A7A;
          box-shadow: 0 9px 0 #FF7A7A;
}

.green {
  -webkit-box-shadow: 0 9px 0 #9CFF88;
          box-shadow: 0 9px 0 #9CFF88;
}

.my-work {
  border-radius: 15px !important;
  font-weight: 500;
  color: #fff;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
  background-color: #2a2a2a;
  -webkit-box-shadow: 5px 5px 7px 0 #232323;
          box-shadow: 5px 5px 7px 0 #232323;
  font-size: 1.15em;
}

.works-text {
  text-align: center;
  color: #fff;
  font-weight: 800 !important;
  font-size: 1.05em;
  margin-top: 20%;
  text-decoration: none !important;
}

.works-text:hover {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

.card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 50px !important;
}

.review-text {
  font-weight: 400;
  font-size: 1.3em;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.neumorphinner {
  border-radius: 15px;
  padding: 10px 20px;
  padding-top: 10px;
  background-color: #383838;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
}

.neumorphinner input, .neumorphinner textarea {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
}

.contact-header {
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
}

label {
  font-weight: 400;
  font-size: 1.05em;
  color: #fff;
}

.reviews {
  font-weight: 400;
  font-size: 1em;
  color: #9e9e9e;
}

.review-author {
  font-weight: 300;
  font-size: 0.9em;
  color: #9e9e9e;
}

.container-fluid {
  font-weight: 500 !important;
}

.link {
  margin-left: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  text-decoration: none;
  color: #9e9e9e;
  font-weight: 400;
  padding-bottom: 5px;
}

.link:hover {
  text-decoration: none;
  color: #fff;
}

.internHeader, .projectHeader {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-left: 2%;
}

.internDetails, .projectDetails {
  margin-top: 2%;
  font-size: 1.05em;
  font-weight: 300;
  color: #9e9e9e;
  margin-left: 2%;
  text-align: left;
}

.skills-img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skills-text {
  font-weight: 400;
  color: #fff;
  font-size: 1.2em;
}

.neumorphism-o {
  -webkit-box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
  margin: auto;
  padding: 15%;
  z-index: 100;
  border-radius: 50px;
  background-color: #383838;
}

.works .desc {
  font-weight: 300;
  font-size: 0.85em;
  color: #9e9e9e;
  margin-top: 10%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.works .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
  margin-top: 10%;
}

#works-accordion {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#works-accordion h2 {
  font-size: 12pt;
  margin: 0px;
  padding: 10px;
}

#works-accordion li div.details {
  opacity: 0;
  height: 0;
  padding: 10px;
}

#works-accordion li:hover div.details {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.review-btn {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2), -3px -3px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2), -3px -3px 4px 0 rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 10% !important;
}

.circle-container {
  text-align: center;
  margin-top: 7vh;
}

.circle-container .circle {
  width: 15vw;
  height: 15vw;
  margin: auto;
  background: #383838;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2), -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
}

.circle-container .circle .inner-circle {
  width: 14vw;
  height: 14vw;
  margin: auto;
  background-color: #383838;
  border-radius: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.2), inset -5px -5px 4px 0 rgba(255, 255, 255, 0.1);
}

.header-img {
  width: 99vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  -webkit-box-align: 'center';
      -ms-flex-align: 'center';
          align-items: 'center';
  -webkit-box-pack: 'center';
      -ms-flex-pack: 'center';
          justify-content: 'center';
}

.footer {
  background-color: #2a2a2a;
}
/*# sourceMappingURL=styles.css.map */